body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

header{
	background-image:url('../images/tete.jpg');
	background-size:cover;
	width:100%;
	height:1019px;
	

}

#container{
	
	margin-left:200px;
	width:960px;

}

