body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

header{
	background-image:url('../images/tete.jpg');
	background-size:cover;
	width:100%;
	height:1019px;
	

}

#container{
	
	margin-left:200px;
	width:960px;

}
#menu {
	padding-top:30px;
}
#menu ul li {
display:inline;
color:#FFF;
font-size:20px;
margin-right: 58px;
font-family:sans-serif;
}

#menu ul {
	
	text-align:left;
	padding-left:0px;

}
#texte{
	color:white;
	margin-top:200px;
	width:400px;

}

 h1 {
	font-size:40px;
	font-family:sans-serif;
}

#containerbody{
	width:960px;

	margin-left:auto;
	margin-right:auto;
	margin-top:200px;
	
	
}
#texte1 {
	color:orange;
	display:inline-block;
	width:420px;
	font-size:30px;
	line-height:50px;
	font-family:sans-serif;
}

#texte2{
	display:inline-block;
	width:480px;
	
	padding-left:20px;
	line-height: 30px;
	font-family:sans-serif;

}

#texte2 p {
	color:#000;
}

#texte2 h2{
	font-size:24px;
	color:orange;
}

footer{

	margin-top:200px;
	
	margin-right:auto;
	height:400px;
	background:#e77673;
	color:white;
	font-family:sans-serif;
	line-height:32px;
	font-size:13px;

}

footer ul {
	list-style:none;
}

#wrap {
	width:960px;
	margin-left:15%;
}



.bloc {
	padding-left:0px;
	margin-top:40px;
	margin-right:65px;
	display:inline-block;
	vertical-align:top;


}

.bloc ul{
	padding-left:0px;
}

/*Parallax*/

.parallax-window {
    height:500px;
    width:100%;
    background: transparent;
   
}

/*  Fin Parallax */
